extends layout

block content
  .menu
    h2 Menu
    ul.nav.nav-pills
      li.active
        a(href="/tasks") Home
      li
        a(href="/tasks") Todo Lists
      li
        a(href="/tasks") Completed
  .home
    p This is an example of CRUD Application built with Express and MongoSkin (NodeJS Driver for Express JS)
      a(href="http://proexpressjs.com") Pro Expres.JS
      |.
    p The full source code is available at abdulhannanali's git repository
      a(href="http://www.github.com/abdulhannanali") github.com/abdulhannanali
        
